<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Illana Mattos</title>
	<link rel="stylesheet" href="css/webquantica-grid.css">
	<link rel="stylesheet" href="style.css">
	
	<link rel="stylesheet" href="css/contato.css">
	<link rel="stylesheet" href="mobile.css">


	<script src="js/jquery.js"></script>
	<script src="js/webquantica-grid.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/carousel.js"></script>

</head>
<body>
	<header class="wq-header wq-header_horizontal">
		<div class="wq-header_top">
			<div class="wq-container">
				<p class="wq-contato">
					<a href="mailto:contato@vidalambiental.com.br" target="_blank"><span class="flaticon-mail-2"></span>CONTATO@ILLANAMATTOS.COM.BR</a>
					<a href=""><span class="flaticon-whatsapp-2" target="_blank"></span>62 3222-5555</a>
					<a href="tel:+556232225555" target="_blank"><span class="flaticon-phone-2"></span>62 98555-5555</a>	
				</p>
				<ul class="wq-midias-sociais wq-lista-inline">
					<li><a href="#" target="_blank"><span class="flaticon-phone-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-facebook-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-whatsapp-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-youtube-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-instagram-1"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-logo">
						<a href="index.html">
							<img src="img/logo.png" alt="" title="">
						</a>
					</div>
					<div class="wq-btn_menu">
						<hr>
						<hr>
						<hr>
					</div>
					<div class="wq-navegacao">
						<nav class="wq-menu_principal">
							<ul class="wq-lista-inline">
								<li><a href="index.html" class="active">Home</a></li>
								<li><a href="sobre.html">Sobre</a></li>
								<li><a href="palestra.html">Palestras</a></li>
								<li><a href="treinamento.html">Treinamentos</a></li>
								<li><a href="mentoria.html">Mentoria</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contato.html">Contato</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="wq-breadcrumb" style="background-image: url(img/breacrumb.jpg);">
		<div class="wq-conteudo-breacrumb">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-titulo_1">
						<h1>Lorem ipsum.</h1>
					</div>
					<div class="wq-conteudo">
						<p><a href="index.html">Home</a> <span>-</span> <a href="sobre.html">Lorem ipsum.</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="wq-01-contato">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f">
					<div class="wq-titulo_1">
						<h3>Fale com a Illana Mattos</h3>
					</div>
				</div>
				<div class="wq-box_9 wq-box_cp-12f wq-box_cl-12f">
					<div class="wq-new-contato">
						<form action="">
							<input type="text" placeholder="Seu nome" required>
							<div class="wq-flex">
								<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f"><input type="text" placeholder="seu telefone" required></div>
								<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f"><input type="text" placeholder="Seu email" required></div>
							</div>
							<textarea name="" placeholder="Deixe sua mensagem" required></textarea>
							<button class="wq-btn_1">Enviar</button>
						</form>
						<div class="wq-conteudo">
							<p class="wq-contato">
								<a href="mailto:contato@vidalambiental.com.br" target="_blank"><span class="flaticon-mail-2"></span>CONTATO@ILLANAMATTOS.COM.BR</a>
								<a href=""><span class="flaticon-whatsapp-2" target="_blank"></span>62 3222-5555</a>
								<a href="tel:+556232225555" target="_blank"><span class="flaticon-phone-2"></span>62 98555-5555</a>	
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-06">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f">
					<div class="wq-titulo_1">
						<h3>Receba as nossas dicas no seu email</h3>
					</div>
				</div>
				<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f">
					<div class="wq-form">
						<form action="">
							<input type="text" placeholder="Nome" required="">
							<input type="text" placeholder="E-mail" required="">
							<button class="wq-btn_1">Enviar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer class="wq-footer">
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-logo">
						<a href="index.html">
							<img src="img/logo.png" alt="" title="">
						</a>
					</div>
					<div class="wq-navegacao">
						<nav class="wq-menu_principal">
							<ul class="wq-lista-inline">
								<li><a href="index.html" class="active">Home</a></li>
								<li><a href="sobre.html">Sobre</a></li>
								<li><a href="palestra.html">Palestras</a></li>
								<li><a href="treinamento.html">Treinamentos</a></li>
								<li><a href="mentoria.html">Mentoria</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contato.html">Contato</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="wq-copyright">
			<div class="wq-container">
				<div class="wq-flex">
					<p><span>© Illana Mattos</span> | all rights reserved | 2018</p>
					<p>Desenvolvido por <a href="">Harpia Propaganda</a></p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>