<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Home</title>

	<link rel="stylesheet" type="text/css" href="css/webquantica-grid.css">
	<link rel="stylesheet" type="text/css" href="css/lity.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="mobile.css">


	<script src="js/jquery.js"></script>
	<script src="js/webquantica-grid.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/lity.min.js"></script>
	<script src="js/efeitos.js"></script>
	<script src="js/rellax.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
</head>

<body>

	<header class="wq-header wq-header_horizontal">
		<div class="wq-header_top">
			<div class="wq-container">
				<p class="wq-contato">
					<a href="mailto:contato@vidalambiental.com.br" target="_blank"><span class="flaticon-mail-2"></span>CONTATO@ILLANAMATTOS.COM.BR</a>
					<a href=""><span class="flaticon-whatsapp-2" target="_blank"></span>62 3222-5555</a>
					<a href="tel:+556232225555" target="_blank"><span class="flaticon-phone-2"></span>62 98555-5555</a>	
				</p>
				<ul class="wq-midias-sociais wq-lista-inline">
					<li><a href="#" target="_blank"><span class="flaticon-phone-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-facebook-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-whatsapp-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-youtube-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-instagram-1"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-logo">
						<a href="index.html">
							<img src="img/logo.png" alt="" title="">
						</a>
					</div>
					<div class="wq-btn_menu">
						<hr>
						<hr>
						<hr>
					</div>
					<div class="wq-navegacao">
						<nav class="wq-menu_principal">
							<ul class="wq-lista-inline">
								<li><a href="index.html" class="active">Home</a></li>
								<li><a href="sobre.html">Sobre</a></li>
								<li><a href="palestra.html">Palestras</a></li>
								<li><a href="treinamento.html">Treinamentos</a></li>
								<li><a href="mentoria.html">Mentoria</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contato.html">Contato</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="wq-banner">
		<div class="wq-banner_item">
			<figure><img src="img/banner.jpg" alt="" title=""></figure>
			<div class="wq-conteudo">
				<div class="wq-container">
					<p>pretium ac dolor</p>
					<h2>Curabitur pellentesque laoreet erat, a convallis</h2>
				</div>
			</div>
		</div>
		<div class="wq-banner_item">
			<figure><img src="img/banner.jpg" alt="" title=""></figure>
			<div class="wq-conteudo">
				<div class="wq-container">
					<p>pretium ac dolor</p>
					<h2>Curabitur pellentesque laoreet erat, a convallis</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-01">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_6 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-12">
					<figure>
						<img src="img/wq-01.jpg" alt="" title="">
					</figure>
				</div>
				<div class="wq-box_6 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-12">
					<div class="wq-conteudo">
						<div class="wq-titulo_1">
							<h1>Curabitur pellentesque laoreet erat, a convallis</h1>
						</div>
						<p>Aliquam quis iaculis mi, sed ullamcorper quam. Nullam luctus magna a purus fermentum venenatis. Quisque ante arcu, faucibus ut vestibulum in, aliquam at nibh. Nullam ullamcorper tristique risus, quis scelerisque est blandit in. Integer nibh arcu, mollis eu massa eleifend, mollis cursus tortor.</p>
						<a href="sobre.html" class="wq-btn_1">Saiba mais</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-02" style="background-image: url(img/wq-02.jpg);">
		<div class="wq-conteudo">
			<div class="wq-container">
				<h3>Aenean porta nulla sit amet est tincidunt fermentum.</h3>
			</div>
		</div>
	</section>

	<section class="wq-03">
		<div class="wq-container">
			<div class="wq-titulo_1">
				<h3>Um pouco do que fazemos por sua carreira</h3>
			</div>
			<p>Aliquam quis iaculis mi, sed ullamcorper quam. Nullam luctus magna a purus fermentum venenatis. Quisque ante arcu, faucibus ut vestibulum in, aliquam at nibh.</p>
			<div class="wq-carousel_servicos">
				<div class="wq-conteudo">
					<figure><img src="img/servico-1.jpg" alt="" title=""></figure>
					<div class="wq-conteudo-texto">
						<h3>Se Moldando Pro Sucesso</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
						<a href="" class="wq-btn_1">Saiba mais</a>

					</div>
				</div>
				<div class="wq-conteudo">
					<figure><img src="img/servico-1.jpg" alt="" title=""></figure>
					<div class="wq-conteudo-texto">
						<h3>Se Moldando Pro Sucesso</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
						<a href="" class="wq-btn_1">Saiba mais</a>

					</div>
				</div>
				<div class="wq-conteudo">
					<figure><img src="img/servico-1.jpg" alt="" title=""></figure>
					<div class="wq-conteudo-texto">
						<h3>Se Moldando Pro Sucesso</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
						<a href="" class="wq-btn_1">Saiba mais</a>

					</div>
				</div>
				<div class="wq-conteudo">
					<figure><img src="img/servico-1.jpg" alt="" title=""></figure>
					<div class="wq-conteudo-texto">
						<h3>Se Moldando Pro Sucesso</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
						<a href="" class="wq-btn_1">Saiba mais</a>

					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="wq-04" style="background-image: url(img/wq-04.jpg);">
		<div class="wq-conteudo">
			<div class="wq-container">
				<h3>Aenean porta nulla sit amet est tincidunt fermentum.</h3>
			</div>
		</div>
	</section>

	
	<section class="wq-05">
		<div class="wq-container">
			<div class="wq-titulo_1">
				<h3>Últimas do nosso blog</h3>
			</div>
			<div class="wq-flex">
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-12">
					<figure><img src="img/blog.jpg" alt="" title=""></figure>
					<div class="wq-conteudo">
						<ul class="wq-filtro">
							<li><a href="blog-interno.html">COMPORTAMENTO</a></li>
							<li><a href="blog-interno.html">16.01.2018</a></li>
							<li>POR: ILLANA</li>
						</ul>
						<h3>Donec Convallis Nulla Semper</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis, nulla vitae semper tempor.</p>
						<a class="wq-btn_1" href="blog-interno.html">Saiba mais</a>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-12">
					<figure><img src="img/blog.jpg" alt="" title=""></figure>
					<div class="wq-conteudo">
						<ul class="wq-filtro">
							<li><a href="blog-interno.html">COMPORTAMENTO</a></li>
							<li><a href="blog-interno.html">16.01.2018</a></li>
							<li>POR: ILLANA</li>
						</ul>
						<h3>Donec Convallis Nulla Semper</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis, nulla vitae semper tempor.</p>
						<a class="wq-btn_1" href="blog-interno.html">Saiba mais</a>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12 wq-box_cl-12">
					<figure><img src="img/blog.jpg" alt="" title=""></figure>
					<div class="wq-conteudo">
						<ul class="wq-filtro">
							<li><a href="blog-interno.html">COMPORTAMENTO</a></li>
							<li><a href="blog-interno.html">16.01.2018</a></li>
							<li>POR: ILLANA</li>
						</ul>
						<h3>Donec Convallis Nulla Semper</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis, nulla vitae semper tempor.</p>
						<a class="wq-btn_1" href="blog-interno.html">Saiba mais</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-06">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f">
					<div class="wq-titulo_1">
						<h3>Receba as nossas dicas no seu email</h3>
					</div>
				</div>
				<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f">
					<div class="wq-form">
						<form action="">
							<input type="text" placeholder="Nome" required="">
							<input type="text" placeholder="E-mail" required="">
							<button class="wq-btn_1">Enviar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-07">
		<div class="wq-container">
			<div class="wq-carousel_depoimentos">
				<div class="wq-depoimentos_item">
					<figure>
						<img src="img/depoimentos.jpg" alt="" title="">
					</figure>
					<h3>Alessandra Campos</h3>
					<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text”</p>
				</div>
				<div class="wq-depoimentos_item">
					<figure>
						<img src="img/depoimentos.jpg" alt="" title="">
					</figure>
					<h3>Alessandra Campos</h3>
					<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text”</p>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-08">
		<div class="wq-container">
			<div class="wq-titulo_1 wq-cto">
				<h3>Se inscreva no canal da Illana Mattos no YouTube</h3>
			</div>
			<div class="wq-carousel_youtube">
				<div class="wq-youtube_item">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/QJGe-QqXCgM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="wq-youtube_item">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/QJGe-QqXCgM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="wq-youtube_item">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/QJGe-QqXCgM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="wq-youtube_item">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/QJGe-QqXCgM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="wq-youtube_item">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/QJGe-QqXCgM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-09">
		<div class="wq-titulo_1 wq-cto">
			<h2>Siga a Illana Mattos no Instagram</h2>
		</div>
		<div class="wq-flex">
			<div class="wq-box_2f wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6f">
				<figure><img src="img/insta.jpg" alt="" title=""></figure>
			</div>
			<div class="wq-box_2f wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6f">
				<figure><img src="img/insta.jpg" alt="" title=""></figure>
			</div>
			<div class="wq-box_2f wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6f">
				<figure><img src="img/insta.jpg" alt="" title=""></figure>
			</div>
			<div class="wq-box_2f wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6f">
				<figure><img src="img/insta.jpg" alt="" title=""></figure>
			</div>
			<div class="wq-box_2f wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6f">
				<figure><img src="img/insta.jpg" alt="" title=""></figure>
			</div>
			<div class="wq-box_2f wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6f">
				<figure><img src="img/insta.jpg" alt="" title=""></figure>
			</div>
		</div>
	</section>

	<footer class="wq-footer">
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-logo">
						<a href="index.html">
							<img src="img/logo.png" alt="" title="">
						</a>
					</div>
					<div class="wq-navegacao">
						<nav class="wq-menu_principal">
							<ul class="wq-lista-inline">
								<li><a href="index.html" class="active">Home</a></li>
								<li><a href="sobre.html">Sobre</a></li>
								<li><a href="palestra.html">Palestras</a></li>
								<li><a href="treinamento.html">Treinamentos</a></li>
								<li><a href="mentoria.html">Mentoria</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contato.html">Contato</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="wq-copyright">
			<div class="wq-container">
				<div class="wq-flex">
					<p><span>© Illana Mattos</span> | all rights reserved | 2018</p>
					<p>Desenvolvido por <a href="">Harpia Propaganda</a></p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>