<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Illana Mattos</title>
	<link rel="stylesheet" href="css/webquantica-grid.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/palestras.css">
	<link rel="stylesheet" href="mobile.css">
	



	<script src="js/jquery.js"></script>
	<script src="js/webquantica-grid.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/carousel.js"></script>

</head>
<body>

	<header class="wq-header wq-header_horizontal">
		<div class="wq-header_top">
			<div class="wq-container">
				<p class="wq-contato">
					<a href="mailto:contato@vidalambiental.com.br" target="_blank"><span class="flaticon-mail-2"></span>CONTATO@ILLANAMATTOS.COM.BR</a>
					<a href=""><span class="flaticon-whatsapp-2" target="_blank"></span>62 3222-5555</a>
					<a href="tel:+556232225555" target="_blank"><span class="flaticon-phone-2"></span>62 98555-5555</a>	
				</p>
				<ul class="wq-midias-sociais wq-lista-inline">
					<li><a href="#" target="_blank"><span class="flaticon-phone-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-facebook-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-whatsapp-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-youtube-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-instagram-1"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-logo">
						<a href="index.html">
							<img src="img/logo.png" alt="" title="">
						</a>
					</div>
					<div class="wq-btn_menu">
						<hr>
						<hr>
						<hr>
					</div>
					<div class="wq-navegacao">
						<nav class="wq-menu_principal">
							<ul class="wq-lista-inline">
								<li><a href="index.html" class="active">Home</a></li>
								<li><a href="sobre.html">Sobre</a></li>
								<li><a href="palestra.html">Palestras</a></li>
								<li><a href="treinamento.html">Treinamentos</a></li>
								<li><a href="mentoria.html">Mentoria</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contato.html">Contato</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="wq-breadcrumb" style="background-image: url(img/breacrumb.jpg);">
		<div class="wq-conteudo-breacrumb">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-titulo_1">
						<h1>Lorem ipsum.</h1>
					</div>
					<div class="wq-conteudo">
						<p><a href="index.html">Home</a> <span>-</span> <a href="sobre.html">Lorem ipsum.</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="wq-01-palestra-interna">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_7f wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f ">
					<div class="wq-conteudo">
						<div class="wq-titulo_1">
							<h2>Nome da Palestra</h2>
						</div>
						<p>Nullam eu pulvinar purus, sit amet lacinia ex. Etiam facilisis commodo suscipit. Ut a est suscipit, dictum magna id, egestas risus. Donec erat magna, convallis eget faucibus vel, malesuada ut quam. Nunc sagittis, erat sodales placerat condimentum, enim orci ullamcorper orci, et aliquet neque lectus eu turpis. Sed sed dapibus nunc. Aenean porta nulla sit amet est tincidunt fermentum. Nam sit amet dolor ornare, tincidunt erat non, posuere massa. Nunc sit amet ligula eu elit facilisis volutpat. Curabitur tincidunt, elit vitae cursus scelerisque, purus urna feugiat velit, et suscipit urna magna et nunc. Curabitur est erat, malesuada id massa vitae, egestas iaculis eros. Aenean ultrices quis mi eget pellentesque. Aliquam tempus ac erat vel hendrerit.</p>
						<p>Nulla facilisi. Ut congue ultrices felis non malesuada. Sed malesuada justo in risus aliquam scelerisque. Nullam nisi metus, fermentum at iaculis a, scelerisque sed ante. Aliquam non suscipit quam. Etiam lacinia iaculis lorem ut mollis. Nulla aliquam massa faucibus rhoncus vulputate. Ut lacinia nisi et urna porttitor consequat. Cras et rhoncus ex. Aliquam dictum pretium ligula a congue. Aliquam est lectus, hendrerit quis augue et, gravida bibendum quam. Donec hendrerit pulvinar elit id pulvinar. Aenean lectus magna, euismod at tellus vitae, tincidunt interdum nibh. Nulla at mauris mollis, hendrerit elit a, semper ligula. In hac habitasse platea dictumst.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In numquam harum esse pariatur odit optio quisquam, delectus, ab corporis magnam, beatae recusandae. Assumenda iusto repellat voluptatem at nihil, modi non, veritatis dignissimos alias totam nam illo. Adipisci consectetur animi ut cumque quo, quidem commodi! Ab sit quaerat quidem aperiam velit? Unde aliquam tempora mollitia, et maxime illo excepturi facilis dolorem id ea voluptates autem eius pariatur, laborum. Veniam dignissimos laboriosam ex rerum sint, accusantium voluptas, ducimus illo veritatis tempora reiciendis at, quibusdam alias maiores dolore et! Et maiores dolor, inventore similique. Nobis provident ex voluptatibus repudiandae, aliquam corporis itaque totam.</p>
					</div>
				</div>
				<aside class="wq-box_5f wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f ">
					<figure>
						<img src="img/sobre-1.jpg" alt="" title="">
					</figure>
					<div class="wq-conteudo">
						<div class="wq-titulo_1">
							<h3>Leve a Illana Mattos para sua empresa</h3>
						</div>
						<form action="">
							<input type="text" placeholder="Nome" required>
							<input type="text" placeholder="Telefone" required>
							<input type="text" placeholder="E-mail" required>
							<button class="wq-btn_1">Enviar</button>
						</form>
					</div>
				</aside>
			</div>
		</div>
	</section>
	
	<section class="wq-06">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f">
					<div class="wq-titulo_1">
						<h3>Receba as nossas dicas no seu email</h3>
					</div>
				</div>
				<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f">
					<div class="wq-form">
						<form action="">
							<input type="text" placeholder="Nome" required="">
							<input type="text" placeholder="E-mail" required="">
							<button class="wq-btn_1">Enviar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="wq-footer">
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-logo">
						<a href="index.html">
							<img src="img/logo.png" alt="" title="">
						</a>
					</div>
					<div class="wq-navegacao">
						<nav class="wq-menu_principal">
							<ul class="wq-lista-inline">
								<li><a href="index.html" class="active">Home</a></li>
								<li><a href="sobre.html">Sobre</a></li>
								<li><a href="palestra.html">Palestras</a></li>
								<li><a href="treinamento.html">Treinamentos</a></li>
								<li><a href="mentoria.html">Mentoria</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contato.html">Contato</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="wq-copyright">
			<div class="wq-container">
				<div class="wq-flex">
					<p><span>© Illana Mattos</span> | all rights reserved | 2018</p>
					<p>Desenvolvido por <a href="">Harpia Propaganda</a></p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>