<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Illana Mattos</title>
	<link rel="stylesheet" href="css/webquantica-grid.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/treinamento-interno.css">
	<link rel="stylesheet" href="mobile.css">
	



	<script src="js/jquery.js"></script>
	<script src="js/webquantica-grid.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/carousel.js"></script>

</head>
<body>

	<header class="wq-header wq-header_horizontal">
		<div class="wq-header_top">
			<div class="wq-container">
				<p class="wq-contato">
					<a href="mailto:contato@vidalambiental.com.br" target="_blank"><span class="flaticon-mail-2"></span>CONTATO@ILLANAMATTOS.COM.BR</a>
					<a href=""><span class="flaticon-whatsapp-2" target="_blank"></span>62 3222-5555</a>
					<a href="tel:+556232225555" target="_blank"><span class="flaticon-phone-2"></span>62 98555-5555</a>	
				</p>
				<ul class="wq-midias-sociais wq-lista-inline">
					<li><a href="#" target="_blank"><span class="flaticon-phone-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-facebook-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-whatsapp-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-youtube-1"></span></a></li>
					<li><a href="#" target="_blank"><span class="flaticon-instagram-1"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-logo">
						<a href="index.html">
							<img src="img/logo.png" alt="" title="">
						</a>
					</div>
					<div class="wq-btn_menu">
						<hr>
						<hr>
						<hr>
					</div>
					<div class="wq-navegacao">
						<nav class="wq-menu_principal">
							<ul class="wq-lista-inline">
								<li><a href="index.html" class="active">Home</a></li>
								<li><a href="sobre.html">Sobre</a></li>
								<li><a href="palestra.html">Palestras</a></li>
								<li><a href="treinamento.html">Treinamentos</a></li>
								<li><a href="mentoria.html">Mentoria</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contato.html">Contato</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="wq-breadcrumb" style="background-image: url(img/breacrumb.jpg);">
		<div class="wq-conteudo-breacrumb">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-titulo_1">
						<h1>Lorem ipsum.</h1>
					</div>
					<div class="wq-conteudo">
						<p><a href="index.html">Home</a> <span>-</span> <a href="sobre.html">Lorem ipsum.</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-banner_landing-page-relacio">
		<div class="wq-container">
			<div class="wq-conteudo">
				<h3>AMOR E PAIXÃO É O QUE NOS FAZEM SENTIR VIVOS. DESCUBRA NESSE MÉTODO COMO CONSTRUIR UM RELACIONEMENTO AMOROSO EXTRAORDINÁRIO, DURADOURO E EQUILIBRADO.</h3>
				<p>Esse método lhe dará absoluta clareza sobre o que você precisa e deseja de um relacionamento romântico e ensinará as estratégias comprovadas para alcançá-lo. Descubra onde você está atualmente em seu relacionamento e o que está impedindo você de ter o que deseja. Este método apresenta ideias e princípios que Illana Mattos, coach e especialista em mudança de comportamento descobriu através do seu próprio relacionamento e do seu trabalho com outros casais. Quer você esteja à procura de amor ou querendo reacender a paixão, este programa é orientado para gerar resultados e ajudá-lo-á a criar o amor duradouro que deseja.</p>
			</div>
		</div>
	</section>

	<section class="wq-01-landing-page-relacio">
		<div class="wq-container">
			<div class="wq-conteudo">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/caucjpVprok" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
				<div class="wq-flex">
					<a href="" class="wq-btn_1">
					QUERO COMEÇAR AGORA </a>
					<figure>
						<img src="/website2018/wp-content/uploads/2018/04/xpagamento-marcas.png.pagespeed.ic.POf8O-qkSa.png">
					</figure>
				</div>
			</div>
		</div>
	</section>

	<section class="wq-02-landing-page-relacio">
		<div class="wq-container">
			<div class="wq-conteudo">
				<h3>O amor apaixonado duradouro não é algo que você encontra por causa de sorte - é algo que você cria.</h3>
			</div>
			<div class="wq-conteudo">
				<p>Você desistiu de encontrar o amor? Seu relacionamento atual está em crise? Você pode pensar que a paixão desaparece naturalmente ou que não existe uma pessoa para todos.</p>
				<h2>Isso simplesmente não é verdade.</h2>
				<h4>O amor apaixonado duradouro não é algo que você encontra por causa de sorte - é algo que você cria.</h4>
			</div>
		</div>
	</section>

	<section class="wq-03-landing-page-relacio">
		<div class="wq-container">
			<div class="wq-conteudo">
				<h3>A única maneira de um relacionamento durar é se você vê seu relacionamento como um lugar que você irá fornecer, e não um lugar que você irá receber.</h3>
			</div>
			<div class="wq-conteudo">
				<p>Veja o que é possível quando você transforma suas crenças, elimina medos e domina as habilidades para criar seu relacionamento Extraordinário. Tente esta oportunidade sem risco hoje.</p>
				<a href="" class="wq-btn_1">
				QUERO MELHORAR MEU RELACIONAMENTO </a>
			</div>
		</div>
	</section>

	<section class="wq-07-landing-page-relacio" style="background-image:url(https://illanamattos.com.br/website2018/wp-content/uploads/2018/04/xwq-07-land.jpg.pagespeed.ic.bkp4hpNFEx.webp)">
		<div class="wq-container">
			<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f">
				<div class="wq-titulo_1">
					<h2>RECEBA TAMBÉM ESSE PRESENTE DA ILLANA</h2>
				</div>
				<h3>UMA PALESTRA SOBRE INTELIGÊNCIA EMOCIONAL, GESTÃO DAS EMOÇÕES E DOS PENSAMENTOS.</h3>
				<p>Nessa palestra irei te mostrar como utilizar a inteligência emocional ao seu favor e de seu relacionamento. Aprenda técnicas e ferramentas que utilizo em Coaching de Casal.</p>
				<a href="" class="wq-btn_1">
				QUERO LEVAR O BÔNUS + O MÉTODO </a>
			</div>
		</div>
	</section>

	<section class="wq-05-landing-page-relacio">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f">
					<div class="wq-titulo_1">
						<h2>PORQUE CRIEI ESSE MÉTODO?</h2>
					</div>
				</div>
				<div class="wq-box_8 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f">
					<div class="wq-conteudo">
						<p>Existe uma coisa que todo mundo almeja na vida - FELICIDADE. Todos nós buscamos um significado em nossas vidas, e esse senso de significado é potencializado quando nos conectamos com as pessoas que amamos.</p>
						<p>Uma força poderosa é a sensação de tocar a alma da pessoa que você ama e que é apaixonada. E mais poderoso ainda é sentir esse amor e paixão retornando a você.</p>
						<p>Por muito tempo eu achei que somente pessoas de sorte tinham relacionamentos amorosos cheios de paixão, conexão, amor, comunicação, cumplicidade e que fossem duradouros.</p>
						<p>Até que um dia eu conheci a pessoa que me fez querer construir uma história e dividir minha vida com ela. Nessa época eu não era coach, muito menos entendia de comportamento humano. O primeiro encontro foi coisa de filme ou de novela das 8h. O tempo praticamente parou. O tempo foi passando e sabe o que aconteceu? Uma separação, eu tinha estragado tudo!!!</p>
						<p>Foi aí que eu percebi que não bastava somente amor e boas intenções, e que talvez a minha teoria de que somente sortudos tinham relacionamentos extraordinários estava certa.</p>
						<p>Após um momento de fossa e de colocar a culpa no universo, eu decidi que teria que reconquistar o amor da minha vida. Agora era só descobrir o “COMO.”</p>
						<p>E o “como” veio na medida que fui me aprofundando nos meus estudos comportamentais e nas minhas formações sobre o comportamento humano e neurociência.</p>
						<p>Fui aprendendo técnicas, ferramentas, conteúdos científicos sobre como cada ser humano reage e funciona. Estudei com as maiores mentes de desenvolvimento pessoal e comportamental do mundo.</p>
						<p>E quando mais eu aprendia mais tudo fazia sentido, aumentava a percepção de que tudo que eu tinha aprendido sobre relacionamentos e sobre o ser humano estava completamente errado.</p>
						<p>Foi então que comecei a aplicar tudo que tinha aprendido em mim mesma, cada técnica, cada conteúdo, utilizei meu cérebro e conhecimento ao meu favor. Me transformei para viver o relacionamento com a pessoa que eu amava. A oportunidade de reconquistar a pessoa que eu amava surgiu e eu não a desperdicei.</p>
						<p>Com o tempo tive a comprovação de que tudo que tinha aprendido funcionava, pois, me fez reconquistar e viver tudo que eu queria há muito tempo com quem eu amava.</p>
						<p>E como coach e treinadora diversas pessoas me procuram para resolver questões de relacionamentos e fui percebendo ao longo deste período de bagagem acumulada que 90% dos casais têm<strong>AS MESMAS DIFICULDADES</strong>.E utilizando todas as ferramentas, o conteúdo e toda experiência pude ajudá-las. E os resultados foram se tornando cada vez mais expressivos e extraordinários</p>
						<p>Só que a maioria dos casais não têm condições financeiras de investir mais de R$ 5.000 para ter este acompanhamento exclusivo e individual comigo.</p>
						<p>Por isso organizei esses ensinamentos em um programa de áudios para que você e a pessoa que você ama possam escutá-los hoje mesmo e, assim, resolver questões profundas sobre o seu relacionamento.</p>
						<p>Disponibilizei para você tudo que aprendi e sei sobre esse tema. O método Relacionamentos Emocionalmente Inteligentes é todo pautado em conteúdos científicos sobre comportamento humano, psicologia, neurociência tudo de forma prática, simples e de fácil compreensão.</p>
						<p>Fiz tudo de coração para que esses áudios promovam uma grande evolução e transformação em seu relacionamento, como um dia fez no meu e de diversas pessoas.</p>
						<p>Com AMOR, ILLANA MATTOS.</p>
					</div>
				</div>
			</div>
		</div>
		</section>

	<section class="wq-06">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f">
					<div class="wq-titulo_1">
						<h3>Receba as nossas dicas no seu email</h3>
					</div>
				</div>
				<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f">
					<div class="wq-form">
						<form action="">
							<input type="text" placeholder="Nome" required="">
							<input type="text" placeholder="E-mail" required="">
							<button class="wq-btn_1">Enviar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="wq-footer">
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-logo">
						<a href="index.html">
							<img src="img/logo.png" alt="" title="">
						</a>
					</div>
					<div class="wq-navegacao">
						<nav class="wq-menu_principal">
							<ul class="wq-lista-inline">
								<li><a href="index.html" class="active">Home</a></li>
								<li><a href="sobre.html">Sobre</a></li>
								<li><a href="palestra.html">Palestras</a></li>
								<li><a href="treinamento.html">Treinamentos</a></li>
								<li><a href="mentoria.html">Mentoria</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contato.html">Contato</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="wq-copyright">
			<div class="wq-container">
				<div class="wq-flex">
					<p><span>© Illana Mattos</span> | all rights reserved | 2018</p>
					<p>Desenvolvido por <a href="">Harpia Propaganda</a></p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>