.wq-01-contato form{
	background-color: #dedede;
	text-align: right;
	padding: 43px 57px;
}
.wq-01-contato .wq-titulo_1 h3{
	color: #1a1a1a;
}
.wq-01-contato{
	padding-top: 70px;
	padding-bottom: 70px;
}
.wq-01-contato .wq-new-contato div.wpforms-container-full{
	margin: 0;
}

.wq-01-contato .wq-new-contato div.wpforms-container-full .wpforms-form input,
.wq-01-contato .wq-new-contato div.wpforms-container-full .wpforms-form textarea{
	font-size: 14px;
	color: #1a1a1a;
	font-weight: 600;
	padding: 20px;
	width: 100%;
	max-width: 100%;
	border-radius: 20px;
	border: none;
}
.wq-01-contato .wq-new-contato div.wpforms-container-full .wpforms-form textarea{
	height: 100px;
}
.wq-01-contato .wq-new-contato div.wpforms-container-full .wpforms-form button{
	background-color: #1a1a1a;
	border: 2px solid #1a1a1a;
	margin: 0 auto;
	color: #fff;
}
.wq-01-contato .wq-new-contato div.wpforms-container-full .wpforms-form button:hover{
	background-color: #fff;
	border-color: #fff;
	color: #1a1a1a;
}


.wq-01-contato .wq-conteudo{
	margin-left: 0;
	width: 100%;
	background-color: #f0f0f0;
	height: 100px;
	padding: 25px 55px;
	display: flex;
}

.wq-01-contato .wq-conteudo p.wq-contato{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	align-items: center;
}

.wq-new-contato{
	padding-left: 60px;
}


.wq-mapa{
	width: 100%;
	height: 350px;
}

.wq-mapa iframe{
	height: 100%;
	width: 100%;
}